<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<center>
<h2>Gateway Weather Report</h2>
<h3>Gateway Details</h3>
<table style="width:100%">
  <tr>
    <th>Gateway Name</th>
    <th>Gateway Latitude</th> 
    <th>Gateway Longitude</th>
  </tr>
  <tr>
    <td>{{gatesel}}</td>
    <td>{{latitude}}</td>
    <td>{{longitude}}</td>
  </tr>

</table>

<h3>Gateway Weather Details</h3>
<table style="width:100%">
  <tr>
    <th>Gateway Location</th>
    <th>Gateway Region</th> 
    <th>Gateway Country</th>
    <th>Gateway TZ ID</th>
    <th>Gateway Time</th>
    <th>Gateway Temp C</th>
    <th>Gateway Temp F</th>
  </tr>
  <tr>
    <center>
    <td>{{res_loc_name}}</td>
    <td>{{res_loc_region}}</td>
    <td>{{res_loc_country}}</td>
    <td>{{res_loc_tz_id}}</td>
    <td>{{res_loc_localtime}}</td>
    <td>{{res_cur_temp_c}}</td>
    <td>{{res_cur_temp_f}}</td>
    </center>
  </tr>
</table>
</center>
</body>
</html>





<!DOCTYPE html>   
<html>   
<head>  
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">   -->
<!-- <title> weather Page </title>   -->
<!-- <center>
    <h1>Gateway Weather Report</h1>
    <h3>Gateway Details</h3>
    <label><b>Gateway Name : {{gatesel}}</b></label><br><br>
    <label><b>Gateway Latitude: {{latitude}}</b></label><br><br>
    <label><b>Gateway Longitude: {{longitude}}</b></label><br><br>
    <h3>Gateway Weather Details</h3><br><br>
    <label><b>Gateway Location : {{res_loc_name}}</b></label> <br><br>
    <label><b>Gateway Region : {{res_loc_region}}</b></label> <br><br>
    <label><b>Gateway Country : {{res_loc_country}}</b></label> <br><br>
    <label><b>Gateway TZ ID : {{res_loc_tz_id}}</b></label> <br><br>
    <label><b>Gateway Time : {{res_loc_localtime}}</b></label> <br><br>
    <label><b>Gateway Temp C : {{res_cur_temp_c}}</b></label> <br><br>
    <label><b>Gateway Temp F : {{res_cur_temp_f}}</b></label> <br><br>
</center>  -->

<!-- </html> -->
