

<!DOCTYPE html>
<html>
<head>
<style>
Body {  
font-family: Calibri, Helvetica, sans-serif;  
background-color: rgb(209, 175, 170);  
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(114, 155, 194, 0.562);
  color: black;
}
th, td {
  padding: 5px;
  text-align: center;
}
</style>
</head>
<body>


<center>
    <h2><b>Gateway Weather Report</b></h2>
    <table style="width:50%">
    <tr>
        <th>Gateway Name</th>
        <td>{{gatesel}}</td>
    </tr>
    <tr>
        <th>Gateway Latitude</th>
        <td>{{latitude}}</td>
    </tr>
    <tr>
        <th>Gateway Longitude</th>
        <td>{{longitude}}</td>
    </tr>
    <tr>
        <th>Gateway Location Name</th>
        <td>{{res_loc_name}}</td>
    </tr>
    <tr>
        <th>Gateway Location Region</th>
        <td>{{res_loc_region}}</td>
    </tr>
    <tr>
        <th>Gateway Location Country</th>
        <td>{{res_loc_country}}</td>
    </tr>
    <tr>
        <th>Gateway Location TZ_ID</th>
        <td>{{res_loc_tz_id}}</td>
    </tr>
    <tr>
        <th>Gateway Location Local Time</th>
        <td>{{res_loc_localtime}}</td>
    </tr>
    <tr>
        <th>Gateway Location Temp in C</th>
        <td>{{res_cur_temp_c}}</td>
    </tr>
    <tr>
        <th>Gateway Location Temp in F</th>
        <td>{{res_cur_temp_f}}</td>
    </tr>
    <tr>
        <th>Gateway Wind in MPH</th>
        <td>{{res_cur_wind_mph}}</td>
    </tr>
    <tr>
        <th>Gateway Wind in KPH</th>
        <td>{{res_cur_wind_kph}}</td>
    </tr>
    </table>
</center>
</body>
</html>



























